.heading {
    background: whitesmoke;
    color: rgb(5, 5, 15);
    font-size: 25px;
    height: 75px;
    text-decoration: solid;
    text-indent: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.headText {
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.headText:hover {
    background: rgb(221, 214, 214);
}
.leftSide {
    display: flex;
    flex-direction: row;
}
.rightSide {
    display: flex;
    flex-direction: row;
}
.search {
    background: rgb(37, 36, 36);
    font-size: 35px;
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-left: 50px;
    height: 500px;
}
.htmlpage {
    background-color: #d9eee1 !important;
    color: black !important;
    padding: 3pc;
    box-sizing: inherit;
    display: flex;
    justify-content: space-between;
}
.tut-button1 {
    background-color: #04aa6d;
    color: white;
    font-size: 25px;
    margin: auto;
    display: block;
    width: 200px;
    height: 35px;
    border-radius: 25px;
    padding: 8px 16px;
}
.tut-button1:hover {
    background: darkgreen;
}
.tut-button2 {
    background-color: #282a35;
    color: white;
    font-size: 25px;
    margin: auto;
    display: flex;
    width: 190px;
    height: 35px;
    border-radius: 25px;
    padding: 8px 16px;
    justify-content: space-around;
}
.tut-button2:hover {
    background: grey;
}
.tut-button3 {
    background: #fff4a3;
    color: black !important;
    color: white;
    font-size: 25px;
    margin: auto;
    display: block;
    width: 200px;
    height: 35px;
    border-radius: 25px;
    padding: 8px 16px;
}
.tut-button3:hover {
    background: yellow;
}
.pr {
    background: #fff;
    font-size: 23px;
    margin: auto;
    display: block;
    width: 200px;
    height: 35px;
    border-radius: 25px;
    padding: 8px 16px;
}
.tryitbutton {
    background-color: #04aa6d;
    color: white;
    font-size: 25px;
    margin: auto;
    width: 200px;
    height: 35px;
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
    margin: 8px 16px;
}
.tryitbutton:hover {
    background: darkgreen;
}
.leftsidepage {
    font-size: 35px;
    text-align: center;
    margin-left: 10px;
}
.rightsidepage {
    background-color: #e7e9eb;
    font-size: 35px;
    text-align: inherit;
    margin-left: 8px 16px;
    border-radius: 5px;
    height: 400px;
    width: 700px;
}
.rightsidecontent {
    background: #fff;
    height: 250px;
    border-left: 4px solid #04aa6d;
    font-size: 20px;
    margin: 10px 20px;
    padding: 10px;
}
h3 {
    font-size: 25px;
    padding-top: 10px;
    padding-left: 10px;
}
.csspage {
    background-color: #fff4a3 !important;
    color: black !important;
    padding: 3pc;
    box-sizing: inherit;
    display: flex;
    justify-content: space-between;
}
.javascriptpage {
    background-color: #282a35 !important;
    color: black !important;
    padding: 3pc;
    box-sizing: inherit;
    display: flex;
    justify-content: space-between;
}
.pythonpage {
    background-color: #f3ecea !important;
    color: black !important;
    padding: 3pc;
    box-sizing: inherit;
    display: flex;
    justify-content: space-between;
}
.sqlpage {
    background-color: #96d4d4 !important;
    color: black !important;
    padding: 3pc;
    box-sizing: inherit;
    display: flex;
    justify-content: space-between;
}
